body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  background-color: #343330;
  text-align: center;
}
#heading{
 
  background-color: #343330;
  color: white;
}
#sidebar {
  width: 20%;
  background-color: #45462A;}
.nav-menu{
  list-style-type: none;
}
footer {
  background-color: #343330;
  text-align: center;
}
