body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:110%;
  background-color: #FCF7F8;
  display:flex;
  flex-direction: column;
}
.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}

header {
  background-color: rgba(166, 207, 127, 0.795);
  text-align: center;
  justify-content: center;
}
#profilephoto{
  width: 15%;
  height:15%;
  border-radius:50%;
  border: 3px solid white;
}
#heading{
 
  background-color: rgba(red, green, blue, alpha);
  color: white;
}
#sidebar {
  width: 20%;
  background-color: #FB8F67;
padding: 1rem;}
.nav-menu{
  list-style-type: none;
 padding: 0%;
}
footer {
  background-color: #3f784c;
  text-align: center;
}
.icons{
  width: 3rem;
  margin: 0.5rem;height: auto;
}
